<div class="modal-overlay">
    <div class="modal-content">
        <h2>Customer Support</h2>
        <form [formGroup]="messageForm">
            <mat-form-field class="message-field">
                <input matInput formControlName="title" required>
            </mat-form-field>

            <mat-form-field class="message-field">
                <textarea matInput placeholder="Enter your message" rows="6" formControlName="message" ></textarea>
            </mat-form-field>

            <div class="buttons">
                <button mat-button class="send-button" (click)="sendMessage()">Send</button>
                <button mat-button class="cancel-button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

