.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.signup-header {
    font-size: 30px;
    font-weight: bold;
    color: #007f7b;
    text-align: center;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

input {
    padding: 10px 40px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

mat-icon.material-icons {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #007f7b;
}

.signup-button {
    background: #007f7b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 245px;
    margin-left: 30px;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.login-link a {
    color: #007f7b;
    text-decoration: none;
    font-weight: bold;
}

.input-container input:invalid {
    color: red;
}

.stepper-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mat-step {
    text-align: center;
}