<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="signup-container">
    <div class="signup-card">
        <div class="signup-header">SignUp</div>
        <form class="signup-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="input-container">
                <input type="text" matInput placeholder="First name*" formControlName="firstName" required>
                <mat-icon class="material-icons">person</mat-icon>
            </div>
            <div class="input-container">
                <input type="text" matInput placeholder="Last name*" formControlName="lastName" required>
                <mat-icon class="material-icons">person</mat-icon>
            </div>
            <div class="input-container">
                <input type="text" matInput placeholder="Username*" formControlName="username" required>
                <mat-icon class="material-icons">person</mat-icon>
            </div>
            <div class="input-container">
                <input type="password" matInput placeholder="Password*" formControlName="password" required>
                <mat-icon class="material-icons">lock</mat-icon>
            </div>
            <div class="input-container">
                <input type="text" matInput placeholder="Email*" formControlName="email" required>
                <mat-icon class="material-icons">email</mat-icon>
            </div>
            <div class="input-container">
                <input type="text" matInput placeholder="Phone*" formControlName="phoneNumber" required>
                <mat-icon class="material-icons">phone</mat-icon>
            </div>
            <div class="input-container">
                <input type="text" matInput placeholder="City*" formControlName="city" required>
                <mat-icon class="material-icons">location_city</mat-icon>
            </div>
            <div>
                <input type="file" (change)="onFileSelected($event)" multiple />
            </div>
            <button type="submit" class="signup-button">SignUp</button>
        </form>
        <div class="login-link">
            Alread have an account? <a routerLink="/auth/login">Login</a>
        </div>
    </div>
</div>